linux_aupe.IAB
linux_aupe.IAD
linux_aupe.IMB
linux_aupe.IMD
linux_aupe.PFI
linux_aupe.PO
linux_aupe.PR
linux_aupe.PRI
linux_aupe.PS
config.log
./autom4te.cache
*.a
*.o
*.log
autom4te.cache/*
aupe@git.IAB
aupe@git.IAD
aupe@git.IMB
aupe@git.IMD
aupe@git.PFI
aupe@git.PO
aupe@git.PR
aupe@git.PRI
aupe@git.PS
aupe@github.si4project:
aupe@github.bookmarks.xml
aupe@github.siproj
aupe@github.siproj_settings.xml
aupe@github.sip_sym
aupe@github.sip_xab
aupe@github.sip_xad
aupe@github.sip_xc
aupe@github.sip_xf
aupe@github.sip_xm
aupe@github.sip_xr
aupe@github.sip_xsb
aupe@github.sip_xsd
aupe@github.siwork
cache
